/* Base css */
@import url('https://fonts.googleapis.com/css?family=open+sans:300,300i,400,400i,600,600i,700,700i,800,800i,');
a:focus,input:focus, button:focus { outline: 0 solid }
a:hover{ text-decoration:none}
img{
	max-width:100%;
	height:auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
		margin:0 0 15px;
		font-weight:700;
	}
body{
	font-family:'open Sans', sans-serif;
	background-color:#F6F5F7;
	}
.section-padding{
	padding:100px 0;
}
.section-title h2{
	text-transform:uppercase;
	color:#01C0FE;
	font-size:35px;
}
.section-title-sep{
	position:relative;
	height:2px;
	background:#01C0FE;
	width:300px;
	margin:0 auto 50px;
}
.section-title-sep:after{
	position:absolute;
	left:50%;
	bottom:-2px;
	width:70px;
	height:5px;
	background:#01C0FE;
	content:"";
	margin-left:-35px;
	z-index:1;
}
.section-title{
	margin-top:50px;
	margin-bottom:50px;
}
.single-team-box{
	background:#fff;
	padding:30px;
	text-align:center;
	font-size:15px;
	line-height:1.6;
}
.single-team-box img{
	max-width:200px;
	max-height: 200px;
	display:block;
	margin:0 auto 30px;
	border-radius:60%;
}
.team-dis span{
	color:#2296F4;
	font-size:120%;
	
}
.single-team-box h4{
	margin-top:20px;
	color:#2296F4;
}
.single-team-box h4 span{
	margin-top:9px;
	color:#333;
	font-weight:400;
	display:block;
	
}
.team-carousel .owl-nav div {
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #05BFFE;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    left: -50px;
    top: 50%;
    margin-top: -17.5px;
}
.team-carousel .owl-nav div.owl-next {
    left: auto;
    right: -70px;
}