/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
thead {}

.shedule th {
    background-color: #F0F0F0;
    font-weight: 400;
    text-align: center;
}

.shedule {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.shedule th,.shedule td {
    border-left: 1px solid #ddd;
    border-top: 1px solid#ddd;
    padding: 20px;
}

.shedule h4 {
    font-weight: 400;
}