/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
.section-padding{
    padding:80px 80px;
}
body {

}
a:hover { text-decoration: none }
.features-menu {
    margin: 0 0 100px;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul.features-menu li {
    display: inline-block;
}

ul.features-menu li a {
    display: block;
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 4px solid transparent;
    margin: 0 11px;
}
ul.features-menu li.active a {
    border-color:#ffce43;
}

.single-feature-item {
    position: relative;
    height: 500px;
    display: table;
    width: 100%;
}

.feature-bg-1 {
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg6.jpg);
}
.feature-bg-2 {
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg3.jpg);
}
.feature-bg-3 {
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg4.jpg);
}
.feature-bg-4 {
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg5.jpg);
}

.feature-text {
    display: table;
    vertical-align: middle;
    padding-left: 546px;
}

.feature-text h4 {
    font-size: 45px;
    opacity: .5;
}

.feature-text h2 {
    font-size: 25px;
    font-weight: 500;
}

body {
    font-size: 16px;
    line-height: 1.7;
}

a.boxed-btn {
    display: inline-block;
    padding: 7px 25px;
    background: #ffcd46;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 23px;
}