/* Base CSS */
.section-padding{
	padding:80px 0;
}
.newsletter-bg {
	background-image: url(../img/bg1.JPG);
	text-transform: uppercase;
	color:#fff;
	z-index:1;
	text-align:center;
	background-size: cover;
	background-position: cover;
	padding-bottom: 180px;
}
.newsletter-bg:after{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	content:"";
	.background:#333;
	z-index:-1;
	opacity:.3;


}
.newsletter-bg h2{
	font-size: 38px;
	font-weight: 800;
	margin-bottom: 50px;


}
.newsletter-form
input[type=email]{
	background: #333;
	border-color: 1px #8e8582;
	padding:12px 30px;
	opacity:.6;
	width:79%;
	border-radius: 50px;

}
.newsletter-form
input[type=submit]{
	background-color: #34d79b;
	color:#fff;
	border:none;
	padding:12px 30px;
	border-radius: 50px;
	width:20%;
}
p.newsletter-form form{
	margin-bottom:15px;

}


.newsletter-text{
	font-style: italic;
}

}
.bordered-boxed{
	overflow:hidden;
	background:#fff;
	border-right:1px solid #ededed;
	position: relative;
	z-index:9;


}
.single-bordered-boxed{
	float:left;
	width:50%;
	border-left:1px solid #ededed;
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	padding:50px 80px;
	text-align: center;
	min-height:281px;
	margin-top:-160px;
	background: #fff;

}
.single-bordered-boxed h4{
	text-transform: uppercase;
	font-size:25px;

}
.single-testimonial-box{
	font-style: italic;
	line-height: 1.6;

}
a.boxed-btn{
	background: #000;
	color:#fff;
	padding:10px 30px;
	display: inline-block;
	border-radius: 50px;
	margin-top:10px;

}
p.author-name{
	font-weight:900;
	font-size:15px;
	font-style: normal;
	margin-top:10px;
	color:#000;
}