/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.mainmenu ul {
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu li a {
    display: block;
    color: #333;
    padding: 20px;
}.mainmenu li {
    position: relative;
}

.mainmenu li ul {
    position: absolute;
    left: 0;
    width: 91px;
    background: #000000;
    padding: 20px 0;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    margin-top:20px;
}

.mainmenu li ul li {
    display: block;
}

.mainmenu li ul li a {
    /* display: block; */
    color: #999;
    padding: 10px 15px;
}

ul {}

.mainmenu li:hover ul {
    opacity: 1;
    visibility: visible;
    margin-top:0;

}

.mainmenu li:hover > a {
    color: #4082F2;
}

.mainmenu li:hover li:hover > a {
    background: #6CBEF3;
    color: #fff;
}