/* Base CSS */
h1
h2
h3
h4
h5
h6{
	margin:0 0 15px;
	font-weight: 700;
}
.body{
	font-family:'open sans' sans-serif;
}
.section-padding{
	padding:80px 0;
}
.slide-bg-1{
	background-image:url(../img/bg1.jpg);
}
.slide-bg-2{
	background-image:url(../img/bg1.jpg);
}
.slide-bg-3{
	background-image:url(../img/bg1.jpg);
}
.boxed-btn,.welcome-area:after{
	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}
.welcome-area{
	position:relative;
	z-index: 1;
	padding-bottom: 100px;
}
.welcome-area:after{
	position: absolute;
	left: 0;
	top:0;
	width:65%;
	height:100%;
	content:"";
	z-index: -1;

}
.logo a,.main-menu a{
	color:#fff;

}
.logo{
	font-size:20px;
	font-weight:600;
	text-transform: uppercase;
	padding-top: 7px;
}
.main-menu ul{
	margin:0;
	padding:0;
	list-style:none;

}
.main-menu li{
	display:inline-block;
	position:relative;
}
.main-menu li a{
	display:block;
	padding:7px 5px;
	text-transform: uppercase;
	padding-top: 8px;
}
.header-right-content a{
	color:#333;
}
.soical-links{
	display:inline-block;
	margin-right: 50px;
	border-left:1px solid #eBeBeB;
	padding-left:20px;
	margin-left:20px;
}
.soical-links a{
	display:inline-block;
	padding:0 4px;
}
.header-right-content{
padding-top:11px;	
}
.header-area{
	padding:25px 0;
}
.single-slide-item{
	height:500px;
	background-size:cover;
	background-position: center;
	background-color: #000;
	display:table;
	width:100%;
	
}
.slide-inner{
	display:table-cell;
	vertical-align: middle;
	width:100%;
}
.slide-text{
	max-width:700px;
    color: #fff;
    padding:90px;

}
.slide-text h4{
	color:#008cff;
	font-size:17px;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom:8px;

}
.slide-text h2{
	text-transform: uppercase;
	color:#eBeBeB;
	font-weight: 400;

}
a.boxed-btn{
	text-transform: uppercase;
	color:#fff;
	display:inline-block;
	font-size: 10px;
	padding:15px 30px;
}
.homepage-slides .owl-nav 
div{
	color:#fff;
	display:inline-block;
	margin-right:20px;
	font-size:20px;
	margin-top:18px;
}